
.v-table > .v-table__wrapper > table {
    margin: 0 !important;
    display: table !important;
    border-collapse: separate !important;
}
.v-pagination > ul {
    list-style: none !important;
}
.v-pagination > ul > li {
    margin-top: 0.3rem;
}