.rs-parent-box {
  display: flex;
  position: relative;
  height: 100%;
}

.rs-border {
  border: 1px solid rgba(0,0,0,0.12);
}

.rs-splitter-base {
  position: absolute;
  top: 0;
  height: 100%;
  width: 4px;
  background: rgba(0,0,0,0.12);
  transform: translateX(-2px);
  z-index: 1;
}